<ul class="nav nav-tabs mt-5 container" style="background-color: var(--border);" id="admin-tabs">
    <li class="nav-item">
        <a class="nav-link active" id="movies-tab" data-bs-toggle="tab" data-tab="movies" href="#movies-content" role="tab" aria-controls="movies-content" aria-selected="true">🎬 Quản lý phim</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="bookings-tab" data-bs-toggle="tab" data-tab="bookings" href="#bookings-content" role="tab" aria-controls="bookings-content" aria-selected="false">🎟️ Quản lý vé</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="users-tab" data-bs-toggle="tab" data-tab="users" href="#users-content" role="tab" aria-controls="users-content" aria-selected="false">👤 Quản lý người dùng</a>
    </li>
</ul>
<div class="tab-content container bg-light mb-5 " id="admin-content">
    <div class="tab-pane fade show active text-start" id="movies-content" role="tabpanel" aria-labelledby="movies-tab"></div>
    <div class="tab-pane fade" id="bookings-content" role="tabpanel" aria-labelledby="bookings-tab"></div>
    <div class="tab-pane fade" id="users-content" role="tabpanel" aria-labelledby="users-tab"></div>
</div>