<div class="container mt-4">
    <!-- <div class="card text-center w-50 h-25 d-flex">
        <h1>Đặt Vé</h1>
        <div id="movie-details">
           
        </div>
        <form id="booking-form">
            <div class="mb-3">
                <label for="ticket-count" class="form-label">Số lượng vé</label>
                <input type="number" class="form-control" id="ticket-count" min="1" value="1">
            </div>
            <button type="submit" class="btn btn-primary">Xác nhận đặt vé</button>
        </form>
    </div> -->
    <div id="movie-details">
    </div>
    
</div>