<div class="container mt-4">
    <div class="text-center mt-2">
        <div id="slideshow" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner rounded-2">
                <div class="carousel-item active">
                    <img src="/frontend/assets/Banner/DiaDao.jpg" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item">
                    <img src="/frontend/assets/Banner/TimXac.jpg" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item">
                    <img src="/frontend/assets/Banner/phim-hay-thang-4.png" class="d-block w-100" alt="..." />
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#slideshow" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#slideshow" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <hr>
        <h1 class="display-5 text-uppercase fw-bolder mt-2 text-light">Phim đang chiếu</h1>
        <div id="movies-list" class="row row-cols-3 row-gap-4 card-group">
        </div>
    </div>
</div>