<div class="container">
    <h2 class="text-center my-4 text-white">Tất Cả Phim</h2>
    <div id="movies-list" class="row row-cols-2 row-cols-md-3 g-4"></div>
</div>
<!-- Danh sách phim đang chiếu -->
<div class="container">
    <h2 class="text-center my-4 text-white">Phim Đang Chiếu</h2>
    <div id="now-showing-list" class="row row-cols-2 row-cols-md-4 g-4"></div>
</div>
<!-- Danh sách phim sắp chiếu -->
<div class="container">
    <h2 class="text-center my-4 text-white">Phim Sắp Chiếu</h2>
    <div id="coming-soon-list" class="row row-cols-2 row-cols-md-4 g-4"></div>
</div>