<div class="container my-5">
    <h2 class="mb-4 fw-bolder" style="color: var(--warning);">Chính sách</h2>
    <div class="card shadow">
        <div class="card-body  text-start">
            <h4 style="color: var(--subtitle);">Chính sách đặt vé</h4>
            <p>Vé đã đặt không thể hoàn tiền sau 24 giờ trước giờ chiếu.</p>
            <h4 style="color: var(--subtitle);">Chính sách bảo mật</h4>
            <p>Thông tin cá nhân của bạn được bảo vệ và chỉ sử dụng cho mục đích đặt vé.</p>
            <a href="/CinemaSTU/lienhe" style="color: var(--link);">Liên hệ để biết thêm chi tiết</a>
        </div>
    </div>
</div>